.addexistingstop-container {
  height: 100vh;
  width: 100vw;
  background-color: rgb(28, 102, 91);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .icon-container-stops {
    text-align: center;
  
  }
  
  .bus-icon-stops {
    width: 200px;
    height: 100px;
  }
  
  .content-container {
    background-color: rgb(34, 149, 132);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 40vw;
    max-width: 335px;
  }
  
  .input-container {
    display: grid;
    grid-gap: 10px;
  }
  
  .input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .route-container {
    margin-top: 20px;
  }
  
  .radio-container {
    margin-top: 10px;
  }
  
  .radio-container label {
    margin-right: 10px;
  }
  
  .route-container select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .addexistingstop-button {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    background: #FFFFFF;
    margin: 10px 10px 10px 10px;
    display: flex;
    font-weight: bolder;
    justify-content: center;
    padding: 11.1px 1.4px 9.9px 0;
    width: 20vw;
  }