*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.newstop-container {
  height: 100vh;
  width: 100vw;
  background-color: rgb(28, 102, 91);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .icon {
    margin-bottom: 20px;
  }
  
  .icon img {
    width: 200px;
    height: 100px;
  }
  
  .content {
    background-color: rgb(34, 149, 132);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 335px;
  }
  
  .stop-info h2 {
    margin: 0;
  }
  
  .form-container {
    margin-top: 20px;
  }
  
  input[type='text'] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .route-option {
    display: flex;
    align-items: center;
  }
  
  .route-option span {
    margin-right: 10px;
  }
  
  
  .addnewconductor-button {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    font-weight: bolder;
    background: #FFFFFF;
    margin: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    padding: 11.1px 1.4px 9.9px 0;
    width: 20vw;
  }