*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  .conductorprogress-container {
    text-align: center;
    background-color: rgb(11, 95, 83);
    
  }
  
  .progress-label {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .conductorprogress-ring-circle {
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
   
  }
  
  .progress-text {
    fill: white;
    font-size: 18px;
  }




  
  .conductordashboard-container {
    display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(11, 95, 83);
  }
  .favorit-stops-conductor {
    border-radius: 0 0 10px 10px;
    height: 150px;
    width: 350px;
    background-color: rgb(18, 110, 97);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .white-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    background-color: rgba(240, 248, 255, 0.836);
    border-radius: 10px 10px 0 0;
  }
  .conductorstop-containers {
    
    margin-right: 10px;
    background-color: rgb(28, 139, 122);
    color: white;
    height: 15vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 5px 5px rgb(26, 113, 100);
    border-radius: 10px;
    width: 9vw;
  }
  